name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest  

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build the Docker image
      run: docker build -t stijn0vp/tanknu-app:latest .

    - name: Push Docker image to Docker Hub
      run: docker push stijn0vp/tanknu-app:latest

  deploy:
    runs-on: [self-hosted]
    needs: build 

    steps:
    - name: Deploy container
      run: |
        docker ps -q -f name=tanknu-app && docker stop tanknu-app || echo "Container tanknu-app is not running"

        docker ps -a -q -f name=tanknu-app && docker rm tanknu-app || echo "Container tanknu-app does not exist"

        docker images -q stijn0vp/tanknu-app:latest && docker image rm stijn0vp/tanknu-app:latest || echo "Image stijn0vp/tanknu-app:latest does not exist locally"

        docker pull stijn0vp/tanknu-app:latest

        docker run --restart always -d -p 8081:8080 --name tanknu-app stijn0vp/tanknu-app:latest
        docker ps -a